span {
    font-family: 'Roboto Condensed', sans-serif;
}

span {
    font-size: x-large;
    font-weight: 800
}

p {
    margin: 30px
}

h1 {
    line-height: 0.8;
    margin: 25px
}

h2 {
    line-height: 0.8;
    margin: 40px
}

h3 {
    line-height: 0.8;
    margin: 40px
}

ul {
    margin: 15px;
}

img {
    margin: 40px
}

body {
    background-image: url(https://foni.club/uploads/posts/2023-02/1675946138_foni-club-p-fon-razmitii-mainkraft-1.jpg)
}

q {
    margin: 550px
}

li {
    color: black;
}

a {
    color: rgb(118, 0, 181);
}
