span {
    font-family: 'Roboto Condensed', sans-serif;
}

span {
    font-size: x-large;
    font-weight: 800
}

p {
    margin: 30px
}

h1 {
    line-height: 0.8;
    margin: 25px
}

h2 {
    line-height: 0.8;
    margin: 40px
}

h3 {
    line-height: 0.8;
    margin: 40px
}

ul {
    margin: 15px;
}

img {
    margin: 40px
}

body {
    background-image: url(https://sun9-22.userapi.com/impg/HSXSnJBb6W1V9hhL7B_61BuqSfhZ7L2PzrTAJQ/gBtca2PqpaY.jpg?size=1200x675&quality=95&sign=ac67b8ba8dc53e7f8d3bec1c8c8091ec&type=album)
}

q {
    margin: 550px
}

li {
    color: black;
}

a {
    color: rgb(118, 0, 181);
}
