span {
    font-family: 'Roboto Condensed', sans-serif;
}

span {
    font-size: x-large;
    font-weight: 800
}

p {
    margin: 30px
}

h1 {
    line-height: 0.8;
    margin: 25px
}

h2 {
    line-height: 0.8;
    margin: 40px
}

h3 {
    line-height: 0.8;
    margin: 40px
}

ul {
    margin: 15px;
}

img {
    margin: 40px
}

body {
    background-image: url(https://sun9-77.userapi.com/impg/eGgj8g2zYgvQ2o5CEt9-VK3fGS-obzQg9hzv0A/cyRJVTnCcMw.jpg?size=2560x1440&quality=95&sign=7b10bb6474a4b5b48af2a4930a49050d&type=album)
}

q {
    margin: 550px
}

li {
    color: black;
}

a {
    color: rgb(118, 0, 181);
}
