span {
    font-family: 'Roboto Condensed', sans-serif;
}

span {
    font-size: x-large;
    font-weight: 800
}
p {
    margin: 30px
}

h1 {
    line-height: 0.8;
    margin: 25px
}

h2 {
    line-height: 0.8;
    margin: 40px
}

h3 {
    line-height: 0.8;
    margin: 40px
}

ul {
    margin: 15px;
}

img {
    margin: 40px
}

body {
    background-image: url(https://pibig.info/uploads/posts/2022-08/1659379335_9-pibig-info-p-fon-mainkraft-s-sheiderami-krasivo-9.png)
}
q {
    margin: 550px
}
li {
    color: black;
}
a {
    color: rgb(118, 0, 181);
}
