span {
    font-family: 'Roboto Condensed', sans-serif;
}

span {
    font-size: x-large;
    font-weight: 800
}

p {
    margin: 30px
}

h1 {
    line-height: 0.8;
    margin: 25px
}

h2 {
    line-height: 0.8;
    margin: 40px
}

h3 {
    line-height: 0.8;
    margin: 40px
}

ul {
    margin: 15px;
}

img {
    margin: 40px
}

body {
    background-image: url(https://sun9-14.userapi.com/impg/TA15etvg1COtsRJRH0hz0m8u6eVCzjlqwuDbJg/KNHqo07_vZU.jpg?size=2560x1440&quality=95&sign=5a292c4d41aa1a415c8948ebac513269&type=album)
}

q {
    margin: 550px
}

li {
    color: black;
}

a {
    color: rgb(118, 0, 181);
}
