span {
    font-family: 'Roboto Condensed', sans-serif;
}

span {
    font-size: x-large;
    font-weight: 800
}
p {
    margin: 30px
}

h1 {
    line-height: 0.8;
    margin: 25px
}

h2 {
    line-height: 0.8;
    margin: 40px
}

h3 {
    line-height: 0.8;
    margin: 40px
}

ul {
    margin: 15px;
}

img {
    margin: 40px
}

body {
    background-image: url(https://avatanplus.com/files/resources/original/5727a81da78ba15472e8b3f6.jpg)
}
q {
    margin: 550px
}
li {
    color: black;
}
a {
    color: rgb(118, 0, 181);
}
