span {
    font-family: 'Roboto Condensed', sans-serif;
}

span {
    font-size: x-large;
    font-weight: 800
}
p {
    margin: 30px
}

h1 {
    line-height: 0.8;
    margin: 25px
}

h2 {
    line-height: 0.8;
    margin: 40px
}

h3 {
    line-height: 0.8;
    margin: 40px
}

ul {
    margin: 15px;
}

img {
    margin: 40px
}

body {
    background-image: url(https://sun9-64.userapi.com/impg/E7RZU1BDksZ04QARBdUCMeUL1I9rG_VTrzPwFg/1V-GDrMauq0.jpg?size=2560x1440&quality=96&sign=da895b98d8f2a88542167fd6b83c227e&type=album)
}
q {
    margin: 550px
}
li {
    color: black;
}
a {
    color: rgb(118, 0, 181);
}
